﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alake</title>
</head>
<body ng-cloak>
    <div style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; display: table;" id="preloader-body">
        <div style="display: table-cell;margin: auto;vertical-align: middle">
            <img alt="loading" style="display: block; margin: auto;" id="preloader" src="~/assets/images/loading.gif" />
        </div>
    </div>
    <script src="~/Scripts/bundle.js"></script>
</body>
</html>